<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post a Job</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Post a Job</h1>
    <form action="{{ url_for('add_job') }}" method="POST">
      <label for="job_title">Job Title:</label>
      <input type="text" name="job_title" required />

      <label for="job_description">Job Description:</label>
      <textarea name="job_description" required></textarea>

      <label for="requirements">Requirements:</label>
      <textarea name="requirements" required></textarea>

      <button type="submit">Add Job</button>
    </form>
  </body>
</html>
