<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employer Dashboard</title>
    <!-- Include custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Horizontal Navbar -->
    <nav class="custom-navbar">
      <div class="container">
        <a class="navbar-brand" href="/">JobLens</a>
        <div class="navbar-nav ms-auto custom-nav-items">
          <a class="nav-item nav-link" href="{{ url_for('add_job') }}"
            >Post a New Job</a
          >
          <a class="nav-item nav-link" href="{{ url_for('index') }}"
            >View All Jobs</a
          >
          <a class="nav-item nav-link" href="{{ url_for('logout') }}"
            >Logout ({{ current_user.email }})</a
          >
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="container mt-5">
      <h1 class="mb-4">Employer Dashboard</h1>

      <!-- Flash Messages -->
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div class="alert alert-info">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}

      <!-- Employer Job Listings -->
      <h2>Your Job Listings</h2>
      <div class="job-listings">
        {% if jobs %} {% for job in jobs %}
        <div class="job-listing">
          <h5>{{ job.job_title }}</h5>
          <a
            href="{{ url_for('view_applicants', job_id=job.job_id) }}"
            class="job-listing"
          >
            <p>View Applicants</p>
          </a>
        </div>
        {% endfor %} {% else %}
        <p>
          No jobs posted yet.
          <a href="{{ url_for('add_job') }}">Post a job now!</a>
        </p>
        {% endif %}
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <p>© 2025 JobLens CSCI 331 RUNICE.</p>
    </footer>
  </body>
</html>
