<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apply for Job - {{ job.job_title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <!-- Horizontal Navbar -->
    <nav class="custom-navbar">
      <div class="container">
        <a class="navbar-brand" href="/">JobLens</a>
        <div class="navbar-nav ms-auto custom-nav-items">
          <a class="nav-item nav-link" href="{{ url_for('add_job') }}"
            >Post a New Job</a
          >
          <a class="nav-item nav-link" href="{{ url_for('index') }}"
            >Dashboard</a
          >
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="container mt-5">
      <h1 class="mb-4">Apply for Job - {{ job.job_title }}</h1>
      <form method="POST" class="job-application-form">
        <div class="form-group">
          <label for="name">Full Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            required
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="phone">Phone:</label>
          <input
            type="text"
            id="phone"
            name="phone"
            required
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="resume_content">Resume Content:</label>
          <textarea
            id="resume_content"
            name="resume_content"
            rows="10"
            class="form-control"
            required
          ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Apply</button>
      </form>
    </div>

    <!-- Footer -->
    <footer class="footer mt-5">
      <p>&copy; 2025 JobLens CSCI 331 RUNICE.</p>
    </footer>
  </body>
</html>
